.HeroSectionContainer {
  width: 100vw;
  height: 80vh;
  position: relative;
}

.BoulderSocIcon {
  width: 150px;
  top: 55%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.IconBG {
  position: absolute;
  top: 55%;
  width: 200px;
  height: 170px;

  left: 50%;
  transform-origin: center;
  transform: translate(-50%, -45%);
  background-color: rgba(0, 0, 0, 0.6);
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 30%;
  border-top-left-radius: 30%;
  border-top-right-radius: 5%;
}

.FadeIn {
  opacity: 0;
  animation: fadeIn 1.5s ease-out forwards;
  animation-delay: 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Landscape Reponsive Sizings */

@media (min-width: 480px) and (orientation: landscape) {
  .HeroSectionContainer {
    height: 90vh;
  }
}

@media (min-width: 830px) and (orientation: landscape) {
  .BoulderSocIcon {
    width: 180px;
    top: 54%;
  }

  .IconBG {
    width: 230px;
    height: 210px;
    top: 53%;
  }
}

@media (min-width: 1280px) and (orientation: landscape) {
  .BoulderSocIcon {
    width: 200px;
    top: 54%;
  }

  .HeroSectionContainer {
    height: 100vh;
  }

  .IconBG {
    width: 250px;
    height: 230px;
    top: 53%;
  }
}

/* Portrait Responsive Sizings */

@media (min-height: 480px) and (orientation: portrait) {
  .HeroSectionContainer {
    height: 70vh;
  }

  .BoulderSocIcon {
    width: 150px;
    top: 52%;
  }

  .IconBG {
    width: 200px;
    height: 170px;
    top: 51%;
  }
}

@media (min-height: 680px) and (orientation: portrait) {
  .BoulderSocIcon {
    width: 170px;
    top: 53%;
  }

  .HeroSectionContainer {
    height: 60vh;
  }

  .IconBG {
    width: 220px;
    height: 190px;
    top: 52%;
  }
}
