.carouselContainer {
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;
  border-radius: 8px;
}

.animatedCarousel {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Landscape Responsive Sizings */

@media (min-width: 480px) and (orientation: landscape) {
   .carouselContainer {
    height: 90vh;
  }
}

@media (min-width: 1280px) and (orientation: landscape) {
   .carouselContainer {
    height: 100vh;
  }
}

/* Portrait Responsive Sizings */

@media (min-height: 480px) and (orientation: portrait) {
  .carouselContainer {
    height: 70vh;
  }
}

@media (min-height: 680px) and (orientation: portrait) {
  .carouselContainer {
    height: 60vh;
  }
}
