.ulFlex {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  gap: 1.5em;
  position: absolute;
  top: 90px;
  left: 50%;
  transform: translateX(-50%);
}

.customBullet {
  list-style: none;
  position: relative;
  padding-left: 2rem;
  color: var(--Black, #000);
  font-feature-settings: "liga" off, "clig" off;
  font-family: "Plus Jakarta Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 126%;
  list-style: none;
}

.customBullet::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.2em;
  width: 1em;
  height: 1em;
  background-image: url("SVGs/Bouldersoc_logo_black.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.logosContainer {
  width: 100%;
  position: absolute;
  bottom: 120px;
}

.logoGroup {
  position: relative;
}

.logo {
  position: absolute;
}

.NineDegrees {
  width: 140px;
  left: -30px;
  transform: rotate(-12deg);
}

.SydneyIndoor {
  width: 120px;
  top: -15px;
  left: 60px;
}

.Blochaus {
  width: 110px;
  top: 15px;
  right: 95px;
  transform: rotate(9deg);
}

.Nomad {
  width: 120px;
  right: -15px;
  top: 0px;
  transform: rotate(-25deg);
}

.GoodGrip {
  left: -16px;
  top: 5px;
  transform: rotate(-15deg);
}

.ClimbingAnchors {
  width: 140px;
  height: 110px;
  top: 10px;
  left: 100px;
  transform: rotate(5deg);
}

.NomadStore {
  width: 130px;
  right: -15px;
  top: 0px;
  transform: rotate(15deg);
}

.imagesGroup {
  position: relative;
}

.image {
  width: 120px;
  height: 100px;
  object-fit: cover;
  border-radius: 12px;
  border: 3px solid var(--primary);
  position: absolute;
  bottom: 0;
  object-fit: cover;
}

.BoulderBash {
  width: 120px;
  height: 100px;
  bottom: -10px;
  left: -5px;
  transform: rotate(10deg);
  z-index: 10;
}

.SocialClimb {
  left: 50px;
  bottom: 75px;
  transform: rotate(-10deg);
  z-index: 2;
}

.OutdoorClimbing {
  width: 140px;
  right: 100px;
  bottom: -5px;
  z-index: 4;
}

.Sendfest {
  right: 40px;
  bottom: 80px;
  width: 140px;
  transform: rotate(5deg);
}

.Roadtrip {
  width: 115px;
  height: auto;
  transform: rotate(-10deg);
  bottom: -15px;
  right: -5px;
  z-index: 5;
  object-position: center bottom;
  /* border: 3px solid rgb(192, 194, 49); */
}
