.sectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 110px;
}

.membershipCardGroupContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: clamp(20px, 5vw, 84px);
  align-self: stretch;
}

.sectionTitle {
  color: #000;
  text-align: center;
  font-feature-settings: "liga" off, "clig" off;
  font-family: "Plus Jakarta Sans";
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 126%;
  text-transform: capitalize;
  margin-bottom: 30px;
}

.linkToMembershipPage {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  font-size: 20px;
  color: var(--Black);
  border-bottom: 2px solid transparent;
  padding: 20px;
  position: relative;
  margin-top: 60px;
}

.linkToMembershipPage::after {
  content: "";
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 0px;
  height: 2px;
  background: var(--primary);
  transform: translateY(8px);
  opacity: 1;
  transition: opacity 0.5s ease-in-out, width 0.5s ease-in-out,
    left 0.5s ease-in-out;
}

.linkToMembershipPage:hover::after {
  opacity: 1;
  left: 20px;
  width: 90%;
}

.arrow {
  margin-top: 2px;
}

@media (min-width: 640px) {
  .sectionTitle {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;
  }
}

@media (min-width: 840px) {
  .sectionTitle {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 60px;
  }
}
