.footerContainer {
  display: flex;
  align-items: center;
  background-color: var(--Gray);
}

.content {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 12px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.designBy {
  font-size: 16px;
  font-weight: 300;
  text-align: start;
  display: flex;
  order: 3;
}

.boulderSocIcon {
  width: 120px;
  height: auto;
  position: relative;
  order: 1;
}

.iconsAndBtn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  order: 2;
  justify-items: center;
  row-gap: 0.7rem;
}

.instagramLink {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  border-radius: 50%;
  padding: 6px;
  background: linear-gradient(to right, #ad46ff, #f6339a);
}

.FacebookLink {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  border-radius: 50%;
  padding: 8px;
  background: #1877f2;
}

.InstagramIcon {
  width: 36px;
  height: auto;
  grid-row: 2;
}

.FacebookIcon {
  width: 32px;
  height: auto;
  grid-row: 2;
}

.textWrapperText {
  position: relative;
  display: inline-block;
  font-size: 24px;
}

.textStroke {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: rgba(62, 78, 38, 0.75);
  color: transparent;
  z-index: 0;
}

.textFill {
  position: relative;
  color: var(--White, #fff);
  z-index: 1;
}

.textWrapperBtn {
  position: relative;
  display: inline-block;
}

.becomeAMemberBtn {
  background-color: var(--primary);
  border: var(--btn-border);
  border-radius: var(--btn-border-radius);
  box-shadow: 1px 1px 6px 2px rgba(0, 0, 0, 0.26);
  font-family: var(--font-family);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
  text-shadow: 0px 2px 2px #3e4e26;
  padding: 8px 12px;
  grid-column: span 2;
  grid-row: 1;
}

@media (min-width: 480px) {
  .iconsAndBtn {
    display: flex;
    align-items: center;
    gap: 1.4em;
    order: 2;
  }

  .InstagramIcon {
    width: 30px;
    height: auto;
  }

  .FacebookIcon {
    width: 26px;
    height: auto;
  }
}

@media (min-width: 640px) {
  .footerContainer {
    display: flex;
    align-items: center;
    background-color: var(--Gray);
  }

  .content {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 12px 40px;
    display: grid;
    grid-template-areas: "boulderSocIcon iconsAndBtn" "boulderSocIcon designBy";
    grid-template-columns: 1fr 1.8fr;
    align-items: center;
    row-gap: 20px;
  }

  .designBy {
    font-size: 16px;
    font-weight: 300;
    text-align: start;
    display: flex;
    justify-content: start;
    grid-area: designBy;
    justify-self: start;
  }

  .boulderSocIcon {
    width: 120px;
    height: auto;
    position: relative;
    grid-area: boulderSocIcon;
    justify-self: center;
  }

  .iconsAndBtn {
    display: flex;
    align-items: center;
    gap: 1.4em;
    grid-area: iconsAndBtn;
  }
}

@media (min-width: 740px) {
  .content {
    grid-template-columns: 1fr 1.2fr;
  }
}

@media (min-width: 960px) {
  .content {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
  }

  .footerContainer {
    height: 80px;
    padding: 4px 20px;
  }

  .boulderSocIcon {
    position: absolute;
    left: 50%;
    width: 80px;
    transform: translateX(-50%);
  }

  .iconsAndBtn {
    display: flex;
    justify-content: end;
  }

  .footerSectionItems {
    flex: 1;
    text-align: center;
  }

  .designBy {
    justify-content: space-around;
    order: 1;
  }
}

@media (min-width: 1080px) {
  .iconsAndBtn {
    gap: 1.8em;
  }

  .designBy {
    justify-content: start;
    padding-left: 40px;
  }
}

@media (min-width: 1280px) {
  .boulderSocIcon {
    width: 90px;
  }

  .footerContainer {
    height: 90px;
  }

  .InstagramIcon {
    width: 34px;
    height: auto;
  }

  .FacebookIcon {
    width: 30px;
    height: auto;
  }

  .iconsAndBtn {
    gap: 2em;
  }
}
