.SocietyActivitesSectionContainer {
  position: relative;
}

.contentContainer {
  position: relative;
  gap: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

.textCenter {
  text-align: center;
}

.heading {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.subHeading {
  margin-top: 10px;
  margin-bottom: 10px;
}

.clubActivitesContainer {
  height: auto;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: var(--White);
  border-radius: 24px;
  box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.25);
  padding: 20px 40px 30px 40px;
}

.clubActivitesTextContainer {
  width: 100%;
  max-width: 700px;
  flex-shrink: 0;
}

.greenBGCurved {
  position: absolute;
  width: 100vw;
  z-index: 0;
  top: -55px;
  left: -16.7%;
}

.imageContainer {
  width: 350px;
  height: 240px;
  border-radius: 24px;
  overflow: hidden;
  box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.25);
}

.images {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.instagramLink {
  position: relative;
  padding-bottom: 2px;
  text-decoration: none;
  color: var(--Black);
}

.instagramLink::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: var(--primary);
  transition: bottom 0.2s ease-in-out;
}

.instagramLink:hover::after {
  bottom: -3px;
}

@media (min-width: 1280px) {
  .SocietyActivitesSectionContainer {
    margin-top: 40px;
  }

  .clubActivitesContainer {
    width: 540px;
    padding: 30px 40px 30px 40px;
  }

  .imageContainer {
    width: 450px;
    height: 260px;
  }

  .heading {
    font-size: 1.8rem;
  }
}

@media (min-width: 840px) {
  .clubActivitesContainer {
    width: 740px;
    gap: 20px;
    padding: 40px 40px 30px 40px;
  }

  .imageContainer {
    width: 588px;
    height: 360px;
  }

  .heading {
    font-size: 2.1rem;
    font-weight: 600;
    margin-bottom: 10px;
  }
}

@media (min-width: 1280px) {
  .contentContainer {
    gap: 100px;
  }

  .clubActivitesContainer {
    height: 420px;
    align-items: start;
    gap: 40px;
  }

  .clubActivitesTextContainer {
    max-width: 640px;
  }

  .imageContainer {
    width: 540px;
    height: 420px;
  }
}

@media (min-width: 1440px) {
  .clubActivitesTextContainer {
    max-width: 700px;
  }

  .imageContainer {
    width: 588px;
  }
}
